#main-header {
    background-image: url(../../public/header-background.png);
    width: 1000px;
    height: 300px;
}

#create-event-but {
    right: 30px;
    top: 25px;
    position: absolute;
    border-radius: 20px;
}

#event-header-title {
    position: absolute;
    top: 135px;
    font-size: 60px;
}

#event-header-subtitle {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 15px;
}
